@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Main</title>
</head>
<body>
    <div>
        <input type="button" name="SignIn" value="Sign Up" onclick="location.href='@Url.Action("SignIn","Home")'" />
        <input type="button" name="SignIntoAcc" value="Sign In" onclick="location.href='@Url.Action("SignIntoAcc","Home")'" />
    </div>
</body>
</html>
